# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
src/**/*.exe
evaluation/**/*.exe
*.dll
*.data
*.a
*.o
*.so
*.lib
*.dylib
*.pyc
nimcache
*.pdb
*.ilk
.*
!.github
*.glsl
node_modules
package-lock.json
package.json
tmp
*.plist
*.dSYM

# Don't need nimble.paths yet
*.paths 
build/
agents/.local*
CONVENTIONS.md


# submodules are folders without an extension, .gitmodules starts with a dot
!submodules/*
!.gitmodules
